@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Mansalva&family=Rubik+Marker+Hatch&family=Sniglet&display=swap');
/* List Font-family 
    ?font-family: 'Caveat', cursive;
    *font-family: 'Mansalva', cursive;
    ?font-family: 'Rubik Marker Hatch', cursive;
    *font-family: 'Sniglet', cursive;
*/
@import url(css/menu.css);
/* Importamos los estilos que estan por serpardo */

body{
    background-color: antiquewhite;
}
/*? Estilo del banner de sitio en construccion */
.under-construction{
    margin: auto;
    display: flex;
    justify-content: center;
}
#animation-bl{
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-color: rgb(119, 74, 15);
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 282px;
}

.wave .shape-fill {
    fill: #39a900;
}