@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Mansalva&family=Rubik+Marker+Hatch&family=Sniglet&display=swap');
/* List Font-family 
    ?font-family: 'Caveat', cursive;
    *font-family: 'Mansalva', cursive;
    ?font-family: 'Rubik Marker Hatch', cursive;
    *font-family: 'Sniglet', cursive;
*/
@import url(css/menu.css);
/* Importamos los estilos que estan por serpardo */

body{
    background-color: antiquewhite;
}
/*? Estilo del banner de sitio en construccion */
#welcome-banner{
    font-family: 'Mansalva', cursive;
    font-size: 50px;
    text-align: center;
}
.under-construction{
    border-radius: 20%;
    width: 30pc;
    height: 30pc;
    background-image: url(img/68977-sitio-web-en-construccion.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 282px;
}

.wave .shape-fill {
    fill: #39a900;
}